.modal-box {
  width: 100%;
  height: 100%;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #00000055;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    width: fit-content;
    min-width: 300px;
    background-color: hsl(var(--base-background));
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 12px 12px 24px 24px #0000000f;
  }
}
