.tech-container {
  // background-color: #e6e6e6;
  // background-color: #cccccc;
  padding: 20px 200px;
  overflow: hidden;
  display: flex;
  color: hsl(var(--accent-color));
  font-weight: 700;
  .technologies {
    white-space: nowrap;
    display: flex;
    gap: 50px;
    animation: 15s slide infinite linear;
    .tech-items {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
